# China mirror of npm
registry = https://registry.npmmirror.com

# 安装依赖时锁定版本号
save-exact = true

# Allow build scripts for these packages
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=esbuild
only-built-dependencies[]=prisma
only-built-dependencies[]=vue-demi
